<div class="todo-board-wrapper">
  <div class="todo-board-header">
    <h1>WeDo</h1>
  </div>
  <div class="todo-board-container">
    @if (todos().length === 0) {
      <div class="todo-board-empty">No tasks found</div>
    } @else {
      <div class="todo-board-container">
        @for (todo of todos(); track todo.id) {
          <todo-card [todo]="todo"></todo-card>
        }
      </div>
    }
  </div>
  <div class="todo-board-footer">
    <button (click)="openModal()">Add New Task</button>
  </div>
</div>

<todo-new-task-modal-form [isOpen]="isModalOpen" (close)="closeModal()"></todo-new-task-modal-form>