<div class="todo-card-wrapper">
  <div class="todo-card-header">
    <div class="todo-card-header-title">
      <h1>{{ title() }}</h1>
      <div class="todo-card-header-priority">
        <p>{{ priority() }}</p>
      </div>
    </div>
    <p>{{ dueDate() }}</p>
  </div>
  <div class="todo-card-body">
    <p>{{ description() }}</p>
  </div>
  <div class="todo-card-footer">
    <button class="todo-card-footer-button delete">Delete</button>
    <button class="todo-card-footer-button update">Update</button>
  </div>
</div>