@if (isOpen()) {
<div class="todo-new-task-modal-form-wrapper" data-test-id="new-task-modal-form">
  <div (click)="closeModal()" data-test-id="new-task-modal-backdrop" class="todo-new-task-modal-form-backdrop"></div>
  <div class="todo-new-task-modal-form-container" (click)="$event.stopPropagation()">
    <h1 class="todo-new-task-modal-form-title">NEW TASK</h1>
    <form class="form-container" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <div class="form-control-group">
        <label for="title">Title</label>
        <input required="true" type="text" formControlName="title" />
        @if (todoForm.controls.title.invalid && todoForm.controls.title.touched) {
          <div class="form-error">Title is required</div>
        }
      </div>
      <div class="form-control-group">
        <label for="description">Description</label>
        <textarea type="text" formControlName="description"></textarea>
        @if (todoForm.controls.description.invalid && todoForm.controls.description.touched) {
          <div class="form-error">Description is required</div>
        }
      </div>
      <div class="form-control-group">
        <label for="dueDate">Due Date</label>
        <input type="date" formControlName="dueDate" />
        @if (todoForm.controls.dueDate.invalid && todoForm.controls.dueDate.touched) {
          <div class="form-error">Due Date is required</div>
        }
      </div>
      <div class="form-control-group">
        <label for="priority">Priority</label>
        <select formControlName="priority">
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
      </div>
      <button class="form-button" type="submit">Submit</button>
    </form>
  </div>
</div>
}